@{Layout = null;}

<link <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Forgot Password (v2)</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/adminLTE/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="~/adminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/adminLTE/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="/Home/About" class="h1"><b>VSMS-</b>VIRTUS 4</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Забравили сте паролата си?<br>Тук може да заявите нова.</p>
      <form method="post">
        <div class="input-group mb-3">
          <input type="email" name="userName" class="form-control" placeholder="Ел.Поща">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Заяви нова парола</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <p class="mt-3 mb-1" style="text-align: center;">
        <a href="/Identity/Account/Login">Назад</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="~/adminLTE/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/adminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/adminLTE/dist/js/adminlte.min.js"></script>
</body>
</html>

<script>
        window.addEventListener('load', (event) => 
        {
            if("@ViewBag.Error"==""){}
            else if("@ViewBag.Error"=="True")
            {alert("Неуспешно създадена заявка. Ако веднъж сте пуснали заявка, за всеки следващ опит ще виждате тази грешка!");}
            else
            {alert("Успешно създадохте заявка за подновяване на паролата.");}
          
        });
</script>