<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Emmo - App Landing Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="~/lib/aboutUsPageStyles/images/favicon.ico">
        

        <link rel="stylesheet" href="~/lib/aboutUsPageStyles/css/normalize.css">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/lib/aboutUsPageStyles/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="~/lib/aboutUsPageStyles/css/owl.carousel.css">
		<link rel="stylesheet" href="~/lib/aboutUsPageStyles/css/owl.theme.css">
		<link rel="stylesheet" href="~/lib/aboutUsPageStyles/css/animate.css">
		<link rel="stylesheet" href="~/lib/aboutUsPageStyles/css/slicknav.min.css">
		<link rel="stylesheet" href="~/lib/aboutUsPageStyles/css/responsive.css">
		<link rel="stylesheet" href="~/lib/aboutUsPageStyles/css/main.css">
        <script src="~/lib/aboutUsPageStyles/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		
		<section class="intro"  id="home">
			<div class="menu-bar menu">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div id="logo">		
								<a href=""><img src="~/lib/aboutUsPageStyles/images/logo.png" alt="" title=""  height="23px" style="float: left;"/></a>
							</div>
						</div>
						<div class="col-md-8">
							<ul class="list-unstyled" id="main-menu">
								<li><a class="active" href="#home">Home</a></li>
								<li><a href="#features">Features</a></li>
								<li><a href="#testimonial">Testimonial</a></li>
								<li><a href="#screenshots">Screenshot</a></li>
								<li><a href="#clients">Clients</a></li>
								<li><a href="#subscribe">Subscribe</a></li>
								<li><a href="#contact">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Menu Ends here -->
			<div class="intro-content">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-12 intro-image">
							<img src="~/lib/aboutUsPageStyles/images/hand.png" alt="" />
						</div>
						<div class="col-md-8 col-sm-6 col-xs-12 intro-texts">
							<h1>Present Your Awesome App Here</h1>
							<span>Everything you need to have in order to build a stunning website.</span>
							<ul class="list-unstyled">
								<li><a href="">Contact Us</a></li>
								<li><a href="">About App</a></li>
								<li><a href="">Subscribe</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Intro Section Ends -->
		
		<section class="features" id="features">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 wow fadeIn">
						<h2>Amazing Nexa Features</h2>
					</div>
					<div class="col-md-3 col-sm-6 wow fadeInLeft">
						<div class="single-service">
							<p style="background:#EE3867;"><i class="fa fa-heart-o"></i></p>
							<h3>Awesome Design</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend metus.</p>
							<p><a href="">Read More</a></p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 wow fadeInLeft">
						<div class="single-service">
							<p style="background:#3DB39D;"><i class="fa fa-pencil"></i></p>
							<h3>Easy Customizable</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend metus.</p>
							<p><a href="">Read More</a></p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 wow fadeInRight">
						<div class="single-service">
							<p style="background:#57C7ED;"><i class="fa fa-mobile"></i></p>
							<h3>Responsive Design</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend metus.</p>
							<p><a href="">Read More</a></p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 wow fadeInRight">
						<div class="single-service">
							<p style="background:#324E5C;"><i class="fa fa-smile-o"></i></p>
							<h3>Clean Code</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend metus.</p>
							<p><a href="">Read More</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Features Section Ends Here -->
		
		<section class="other-features">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-5 wow fadeIn">
						<img src="~/lib/aboutUsPageStyles/images/nexa-mob.png" alt="" />
					</div>
					<div class="col-md-7 col-sm-7 wow fadeIn">
						<h2>About Our Other Features</h2>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend metus dapibus tincidunt suscipit consectetur adipiscing elit Mauris eleifend metus dapibus.</span>
						<ul class="list-unstyled">
							<li><i class="fa fa-cogs"></i> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend metus dapibus tincidunt suscipit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p></li>
							<li><i class="fa fa-cogs"></i> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend metus dapibus tincidunt suscipit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
							<li><i class="fa fa-cogs"></i> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend metus dapibus tincidunt suscipit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
							<li><i class="fa fa-cogs"></i> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend metus dapibus tincidunt suscipit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!--Other Features Ends Here-->
		
		<section class="app-screenshot">
			<div class="container" id="screenshots">
				<div class="row">
					<div class="col-md-12 wow fadeInUp">
						<h2>Awesome Screen Name</h2>
					</div>
					<div id="owl-example" class="owl-carousel col-md-12 wow fadeInUp">
						<div><img src="~/lib/aboutUsPageStyles/images/1.jpg" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/2.jpg" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/3.jpg" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/4.jpg" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/5.jpg" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/6.jpg" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/7.jpg" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/1.jpg" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/2.jpg" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/3.jpg" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/4.jpg" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/5.jpg" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/6.jpg" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/7.jpg" alt="" /></div>
					</div>

				</div>
			</div>
		</section>
		<!-- App Screenshot Ends Here-->
		
		<section class="testimonial" id="testimonial">
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow slideInLeft">
						<h2>What They Say</h2>
					</div>
					<div class="col-md-12 wow slideInLeft">
						<div id="testimonial-carousel" class="owl-carousel col-md-12">
							<div class="single-client col-md-6">
								<img src="~/lib/aboutUsPageStyles/images/iphone_user.png" alt="" />
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend metus dapibus tincidunt suscipit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<ul class="list-unstyled">
									<li><a href=""><i class="fa fa-star"></i></a></li>
									<li><a href=""><i class="fa fa-star"></i></a></li>
									<li><a href=""><i class="fa fa-star"></i></a></li>
									<li><a href=""><i class="fa fa-star"></i></a></li>
									<li><a href=""><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<div class="single-client col-md-6">
								<img src="~/lib/aboutUsPageStyles/images/iphone_user.png" alt="" />
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend metus dapibus tincidunt suscipit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<ul class="list-unstyled">
									<li><a href=""><i class="fa fa-star"></i></a></li>
									<li><a href=""><i class="fa fa-star"></i></a></li>
									<li><a href=""><i class="fa fa-star"></i></a></li>
									<li><a href=""><i class="fa fa-star"></i></a></li>
									<li><a href=""><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<div class="single-client col-md-6">
								<img src="~/lib/aboutUsPageStyles/images/iphone_user.png" alt="" />
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend metus dapibus tincidunt suscipit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<ul class="list-unstyled">
									<li><a href=""><i class="fa fa-star"></i></a></li>
									<li><a href=""><i class="fa fa-star"></i></a></li>
									<li><a href=""><i class="fa fa-star"></i></a></li>
									<li><a href=""><i class="fa fa-star"></i></a></li>
									<li><a href=""><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!--Testimonial Section Ends Here-->
		
		<section class="clients-logo" id="clients">
			<div class="container">
				<div class="row">
					<div id="clients-logo" class="owl-carousel col-md-12 wow slideInRight">
						<div><img src="~/lib/aboutUsPageStyles/images/client02.png" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/client06.png" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/client03.png" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/client04.png" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/client05.png" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/client06.png" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/client07.png" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/client01.png" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/client08.png" alt="" /></div>
						<div><img src="~/lib/aboutUsPageStyles/images/client09.png" alt="" /></div>
					</div>
				</div>
			</div>
		</section>
		<!-- Clients Logo Section Ends Here -->
		
		<section class="price-list">
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow zoomIn">
						<h2>Our Prices</h2>
					</div>
					<div class="col-md-4 wow slideInLeft">
						<ul class="list-unstyled">
							<li class="item-type">Basic</li>
							<li class="item-price">
								<span class="price-text">$200/<sub>mon</sub></span>
								<span class="offer-text">The offer is better for you and you can select now.</span>
							</li>
							<li>Awesome Service</li>
							<li>Total bug free</li>
							<li>Responsive Design</li>
							<li>User Friendly</li>
							<li>24/7 Support</li>
							<li><a href="">Purchase</a></li>
						</ul>
					</div>
					<div class="col-md-4 wow slideInUp">
						<ul class="list-unstyled focused">
							<li class="item-type">Regular</li>
							<li class="item-price">
								<span class="price-text">$500/<sub>mon</sub></span>
								<span class="offer-text">The offer is better for you and you can select now.</span>
							</li>
							<li>Awesome Service</li>
							<li>Total bug free</li>
							<li>Responsive Design</li>
							<li>User Friendly</li>
							<li>24/7 Support</li>
							<li><a href="">Purchase</a></li>
						</ul>
					</div>
					<div class="col-md-4 wow slideInRight">
						<ul class="list-unstyled">
							<li class="item-type">Business</li>
							<li class="item-price">
								<span class="price-text">$1000/<sub>mon</sub></span>
								<span class="offer-text">The offer is better for you and you can select now.</span>
							</li>
							<li>Awesome Service</li>
							<li>Total bug free</li>
							<li>Responsive Design</li>
							<li>User Friendly</li>
							<li>24/7 Support</li>
							<li><a href="">Purchase</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- Price List Section Ends Here -->
		
		<section class="about-app">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-7">
						<img class="wow slideInLeft" src="~/lib/aboutUsPageStyles/images/left-mob-front.png" alt="" />
						<img class="wow slideInUp" src="~/lib/aboutUsPageStyles/images/left-mob-front-2.png" alt="" />
						
					</div>
					<div class="col-md-7 col-sm-5 wow slideInRight">
						<h2>About Our App</h2>
						<h3>Best Features of Our App</h3>
						<p>Integer eu imperdiet augue. Quisque nibh nisi, varius sodales consectetur vitae, volutpat quis odio. Aenean mattis diam molestie maximus condimentum. Fusce vel ipsum ornare nulla efficitur tristique nec et enim. Maecenas ultricies magna et orci ullamcorper egestas.
						</p>
						<p>Proin ut mauris ex. Suspendisse sed ante iaculis, elementum diam consectetur, aliquet mauris. Donec sit amet nunc sapien. Nam faucibus velit sed odio sollicitudin posuere. Aliquam ut nisl lectus.</p>
					</div>
				</div>
			</div>
		</section>
		<!-- About App Section Ends Here -->
		
		<section class="get-app" id="subscribe">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="wow fadeIn">Get Our App</h2>
						<p class="wow slideInUp">Proin ut mauris ex. Suspendisse sed ante iaculis, elementum diam consectetur <br /> aliquet mauris. Donec sit amet nunc sapien. Nam faucibus velit sed odio sollicitudin posuere.</p>
						<div class="app-location wow slideInUp">
							<ul class="list-unstyled">
								<li><a href=""><img src="~/lib/aboutUsPageStyles/images/playstore.png" alt="" /></a></li>
								<li><a href=""><img src="~/lib/aboutUsPageStyles/images/app-store.png" alt="" /></a></li>
							</ul>
						</div>
						<form action="" class="wow slideInUp">
							<input type="text" name="" placeholder="Your Email" />
							<input type="submit" value="Get Now" />
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-- Get App Section Ends Here -->
		
		<div class="footer">
			<section class="contact" id="contact">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2 class="wow fadeIn">Get In Touch</h2>
							<form action="">
								<input class="wow slideInLeft" type="text" name="" placeholder="Your Name" />
								<input class="wow slideInRight" type="text" name="" placeholder="Your Email" />
								<textarea class="wow slideInLeft" name="" placeholder="Your Message"></textarea>
								<input class="wow slideInRight" type="submit" value="Send Message" />
							</form>
						</div>
					</div>
				</div>
			</section>
			<!--Contact Section Ends Here-->
			
			<section class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="wow fadeInUp">Lets Contact</p>
							<ul  class="wow fadeInUp" class="list-unstyled">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-youtube"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble"></i></a></li>
								<li><a href=""><i class="fa fa-instagram"></i></a></li>
								<li><a href=""><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
		
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="~/lib/aboutUsPageStyles/js/bootstrap.min.js"></script>
        <script src="~/lib/aboutUsPageStyles/js/owl.carousel.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
     
			  $("#owl-example").owlCarousel({
				items : 4,
				navigation : false,
				navigationText : ["prev","next"],
				paginationNumbers: true
			  });
			   $("#testimonial-carousel").owlCarousel({
				items : 1,
				itemsCustom : true,
				itemsDesktop : [1199,1],
				itemsDesktopSmall : [980,1],
				itemsTablet: [768,1],
				itemsTabletSmall: true,
				itemsMobile : [479,1],
				singleItem : true,
				itemsScaleUp : true,
				responsive : true
			   });
			   $("#clients-logo").owlCarousel({
				items : 6,
				paginationNumbers : false,
				navigation : false,
			   });
			});
		</script>
        <script src="~/lib/aboutUsPageStyles/js/wow.min.js"></script>
		<script>
		  new WOW().init();
		</script>
        <script src="~/lib/aboutUsPageStyles/js/plugins.js"></script>
        <script src="~/lib/aboutUsPageStyles/js/main.js"></script>
		<script type="text/javascript">
			// handle links with href started with '#' only
			$(document).on('click', 'a[href^="#"]', function(e) {
				// target element id
				var id = $(this).attr('href');
				// target element
				var $id = $(id);
				if ($id.length === 0) {
					return;
				}
				// prevent standard hash navigation (avoid blinking in IE)
				e.preventDefault();
				// top position relative to the document
				var pos = $(id).offset().top;
				// animated top scrolling
				$('body, html').animate({scrollTop: pos}, 1000);
			});
		</script>
		<script type="text/javascript">
			// Create a clone of the menu, right next to original.
			$('.menu').addClass('original').clone().insertAfter('.menu').addClass('cloned').css('position','fixed').css('top','0').css('margin-top','0').css('z-index','500').css('background','#000').removeClass('original').hide();
			scrollIntervalID = setInterval(stickIt, 10);
			function stickIt() {
			  var orgElementPos = $('.original').offset();
			  orgElementTop = orgElementPos.top;
			  if ($(window).scrollTop() >= (orgElementTop)) {
				// scrolled past the original position; now only show the cloned, sticky element.

				// Cloned element should always have same left position and width as original element.     
				orgElement = $('.original');
				coordsOrgElement = orgElement.offset();
				leftOrgElement = coordsOrgElement.left;  
				widthOrgElement = orgElement.css('width');
				$('.cloned').css('left',leftOrgElement+'px').css('top',0).css('width',widthOrgElement).show();
				$('.original').css('visibility','hidden');
			  } else {
				// not scrolled past the menu; only show the original menu.
				$('.cloned').hide();
				$('.original').css('visibility','visible');
			  }
			}
		</script>
		<script src="~/lib/aboutUsPageStyles/js/jquery.slicknav.min.js"></script>
		<script>
			$(function(){
				$('#main-menu').slicknav();
			});
		</script>
    </body>
</html>

