@model IEnumerable<CategoryViewModel>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="~/css/ListTableStyle.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



<table>
  <tr>
    <th>Кат.Номер</th>
    <th>Категория</th>
    <th>Управление</th>
  </tr>
  <tr style="background-color: firebrick; color:white;">
	<td>Създай нова категория</td>
    <td><input id="add-category-field" type="text" placeholder="Име на категорията"/></td>
    <td>
		<button id="add-category-btn">Добави</button>
    </td>
  </tr>
  @foreach(var c in Model)
  {
      <tr>
		 <td>@c.Id</td>
         <td>@c.Name</td>
         <td>
            <a href="#myModal" class="trigger-btn delete-btn" data-toggle="modal">
			<i class="fa fa-trash" aria-hidden="true"></i>
			</a>
         </td>
      </tr>
  }

  <!-- Modal HTML -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header flex-column">
				<div class="icon-box">
					<i class="material-icons">&#xE5CD;</i>
				</div>						
				<h4 class="modal-title w-100">Сигурни ли сте?</h4>	
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Наистина ли искате да изтриете тази категория? Този процес не е обратим!</p>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Отказ</button>
				<button type="button" class="btn btn-danger"><a id="delete" href="#">Изтрий</a></button>
			</div>
		</div>
	</div>
</div>  
</table>
<script src="~/js/CategoriesCreate.js"></script>