@model IEnumerable<AllProductsListViewModel>
<link rel="stylesheet" href="~/css/ProductsListStyle.css">


@foreach(var p in Model){
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@p.ImageUrl" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@p.Name</h5>
        <p class="card-text">@p.Description</p>
        <a href="#" class="btn btn-primary">Редактирай</a>
    </div>
  </div>
}