<style>
    .content-wrapper
    {padding:60px}
    .card
    { margin:auto;}

    .btn
    {width: 100%;}
</style>


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.nicepng.com/png/detail/135-1358116_error-png.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Oпа!</h5>
    <p class="card-text">@ViewData["msg"]</p>
    <a href="/" class="btn btn-primary">Назад</a>
  </div>
</div>