@{Layout=null;} 

<link rel="stylesheet" media="all" href="~/css/404.css" />
<h1> Не е открита такава страница!</h1>
<p class="zoom-area"> Молим да ни извините, но заявената страница не съществува!</p>
<section class="error-container">
  <span class="four"><span class="screen-reader-text">4</span></span>
  <span class="zero"><span class="screen-reader-text">0</span></span>
  <span class="four"><span class="screen-reader-text">4</span></span>
</section>
<div class="link-container">
</div>