@model IEnumerable<CategoryViewModel>

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Списък Категории</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Основна страница</a></li>
                        <li class="breadcrumb-item active">Списък категории</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Кат.Номер</th>
                                        <th>Категория</th>
                                        <th>Управление</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Създай нова категория</td>
                                        <td><input id="add-category-field" type="text" placeholder="Име на категорията" /></td>
                                        <td>
                                            <button id="add-category-btn">Добави</button>
                                        </td>
                                    </tr>
                                    @foreach (var c in Model)
                                    {
                                        <tr>
                                            <td>@c.Id</td>
                                            <td>@c.Name</td>
                                            <td>
                                                <a href="#myModal" class="trigger-btn delete-btn" data-toggle="modal">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
    </section>

    <!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div style="width: 100%;" class="modal-header flex-column">
                <div style=" margin: 0 auto;"class="icon-box">
                    <i style="font-size:32px;" class="fas fa-trash-alt"></i>
                </div>
                <h4 style="text-align: center;" class="modal-title w-100">Сигурни ли сте?</h4>
            </div>
            <div class="modal-body">
                <p>Наистина ли искате да изтриете тази категория? Този процес не е обратим!</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отказ</button>
                <button type="button" class="btn btn-danger"><a id="delete" style="color:white;text-decoration:none;" href="#">Изтрий</a></button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Categories.js"></script>
