.rendered-form 
{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0px 0px 24px #c4180c;
    padding: 10px;
}

.flex {
    margin-top:2%;
    display: flex;
    justify-content: center;
}

.flex-item + .flex-item {
    margin-left: 10px;
}

btn {
    margin-top: 15px;
    background-color: #0066FF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.btn-danger 
{
    margin-left:20px;
}

.btn-secondary 
{
    margin-right: 20px;
}

a 
{
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}