#workDesk 
{
    display: flex;
    flex-wrap: wrap;
}

.card 
{
    margin: 10px;
    display: inline-block;
    border: 2px solid #e7e7e7;
    border-radius: 10px;
    padding: .5rem;
    box-shadow: -7px 10px 5px -2px #A1A1A1;
}

.btn-primary 
{
    background-color:firebrick;
    border-color:firebrick;
}

.card-body 
{
    text-align:center;
    justify-content:center;
}

.card-body btn 
{
    display:flex;
}

.card-img-top 
{
    min-width:268px;
    max-width:268px;

    min-height:170px;
    max-height:170px;
}