html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#navbar_logo {
    margin: 0;
    padding: 0;
    height: 40px;
    width: 65px;
}


html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#mainWindow 
{
    padding-top:1%;
    width:100%;
    height:100%;
}

header 
{
    position: fixed;
    width: 100%;
    z-index: 1000;
}