.sidenav {
    padding-top: 5%;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    border-right: 1px solid lightgray;
}

.sidenav a 
{
    text-decoration: none;
    font-size: 25px;
    color: #ae1004;
    display: block;
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
}

.dropdown-btn 
{
    margin-bottom: 40px;
}

table 
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th 
{
    border: 1px solid #d4f3ff;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) 
{
    background-color: #d4f3ff;
}

.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #8a0317;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.nav-item i 
{
    margin-left:5px;

}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#workDesk {
    margin-left: 10rem;
    margin-top: 3.4rem;
    display: flex;
    justify-content: center;
}

.sidenav a:hover, .dropdown-btn:hover 
{
    color: #f72d4b;
}

.active {
    background-color: #8a0317;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #fc8686;
    padding-left: 8px;
}

.main 
{
    margin-left: 160px;
    padding: 0px 10px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

@media screen and (max-height: 450px) 
{
    .sidenav 
    {
        padding-top: 15px;
    }
}

