@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/contacts.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div style="margin-top:15px;" class="container profile-page">
    <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-12">
            <div class="card profile-header">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="profile-image float-md-right"> <img  class="avt" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.6435-9/38403304_1857458270959928_3265524125468196864_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=2T6e0M9cUOoAX_oMq8U&tn=G2oyMX4NFbpYBCX1&_nc_ht=scontent-frt3-1.xx&oh=00_AT_kueWoQgmk9SW0g0E2lDHG4BFadCwmppYR0srXvftUYA&oe=6268EC49" alt=""> </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <h4 class="m-t-0 m-b-0"><strong>Даниела</strong> Стефанова</h4>
                            <span class="job_post">Управител / Съдружник</span>
                            <h6>Номер: 081 6782 344</h6>
                            <h6>Поща: daniela81@virtus.bg</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-7 col-md-12">
            <div class="card profile-header">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="profile-image float-md-right"> <img  class="avt" src="https://scontent-frx5-2.xx.fbcdn.net/v/t1.18169-9/18193678_10209190585350353_3390772405487862968_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=MYDkTKZ0syMAX9Tbiqo&tn=G2oyMX4NFbpYBCX1&_nc_ht=scontent-frx5-2.xx&oh=00_AT-xY5BHIEjWAtM4AKwxPyiMO-B6VtwbSGLS32CvEP7P9w&oe=6267C69D" alt=""> </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <h4 class="m-t-0 m-b-0"><strong>Гергин</strong> Стефанов</h4>
                            <span class="job_post">Управител / Съдружник / Поддръжка</span>
                            <h6>Номер: 081 6782 343</h6>
                            <h6>Поща: gergin@virtus.bg</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div  style="width: 100%;margin: auto;" class="col-xl-6 col-lg-7 col-md-12">
            <div class="card profile-header">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="profile-image float-md-right"> <img  class="avt" src="~/img/rsimg.jpg" alt=""> </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <h4 class="m-t-0 m-b-0"><strong>Радослав</strong> Стефанов</h4>
                            <span class="job_post">Програмист VSMS / Поддръжка</span>
                            <h6>Номер: 081 6782 342</h6>
                            <h6>Поща: rado@virtus.bg</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

