@page
@model RegisterModel
@{ViewData["Title"] = "Register";}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/lib/toast/content/toastr.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/passResetPageStyle.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/toast/scripts/toastr.js"></script>


	<div class="container">
		<div class="screen">			
			<div class="screen__content">
				<form  id="registerForm" style = "padding-top: 100px" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="login">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="login__field">
						<i class="login__icon fa fa-user"></i>
						<input asp-for="Input.Email" class="login__input" placeholder="Имейл:" autocomplete="username" aria-required="true" />
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<div class="login__field">
						<i class="login__icon fa fa-lock"></i>
						<input asp-for="Input.Password" class="login__input" autocomplete="new-password" aria-required="true" placeholder="Парола" />
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div style="padding-bottom:0"class="login__field">
						<i class="login__icon fa fa-lock"></i>
						<input asp-for="Input.ConfirmPassword" class="login__input" autocomplete="new-password" aria-required="true" placeholder="Повтори Паролата" />
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<button style="margin-top:28px" id="registerSubmit" type="submit" class="button login__submit">
						<span class="button__text">Създай</span>
						<i class="button__icon fa fa-chevron-right"></i>
					</button>									
				</form>
				<div class="social-login">
					<h3>VSMS</h3>
			<h4>RS Solutions</h4>
				</div>
			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>		
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"><a id="reg_back" href="/Users/AdminView" class="next">&laquo; Назад</a></span>
			</div>					
		</div>		
	</div>
	@{
        if (TempData["msg"] != null)
        {
            <script type="text/javascript">
                toastr.error("@TempData["msg"]");
                window.location = '#2249506';
            </script>
        }
	}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
