<style>
    #avatar
    {
        max-width:350px;
        min-width:350px;
        max-height:290px;
        min-height:290px;
    }
</style>

<div class="register-box" style="margin: auto;padding-top: 15px; width: 550px;">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="/Home/About" class="h1"><b>VSMS-</b>VIRTUS 4</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Създаване на продукт:</p>

            <form id="registerForm" style="text-align: center;" method="post" class="login">
                <img src="https://bitsofco.de/content/images/2018/12/broken-1.png" id="avatar" class="avatar img-circle" style="border-radius:0;padding-bottom:15px;" onerror="this.src='https://bitsofco.de/content/images/2018/12/broken-1.png'">
                <div class="input-group mb-3">
                    <input type="text" name="ImageUrl" id="imageUrlField" placeholder="Попълни адрес към снимка..." class="form-control" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-image"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input class="form-control required" name="Name" type="text" placeholder="Име на продукта" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-file-signature"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                     <input class="form-control" name="Description" type="text" placeholder="Кратко описание на продукта...">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-file-medical-alt"></span>
                        </div>
                    </div>
                </div>
                <div clas
                <div class="form-group">
                    <select name="Category" class="form-control" required>
                        <option value="" selected="true">Категория</option>
                        @foreach (var catg in Model)
                        {<option value="@catg.Name">@catg.Name</option>}
                    </select>
                </div>
                <div class="form-group">
            <select name="Kilograms" class="form-control" required>
	            <option value="" selected="true">Килограми</option>
	            <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
	        </select>
          </div>
          <div class="form-group">
            <div >
              <input class="form-control required" name="Price" id="price" type="text" placeholder="Цена в лева за чувал/опаковка..." required>
            </div>
          </div>
                <div class="input-group mb-3" style="display:none;" id="passAlert">
                    <p>Паролите не съвпадат!</p>
                </div>
                <div class="col-4" style="max-width: 100%">
                    <button type="submit" id="submit" class="btn btn-primary btn-block">Създай</button>
                </div>
            </form>
        </div>
        <a href="/Users/ListUsers" class="text-center" style="margin-bottom: 10px;">Отказ</a>
    </div>
</div><script src="~/js/ProductsCreate.js"></script>