@{
	Layout="_Layout";
}

<link rel="stylesheet" href="~/css/styles.css" />

<div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>