@{
	Layout=null;
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/lib/toast/content/toastr.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/toast/scripts/toastr.js"></script>

	<div class="container">
		<div class="screen">
			<div class="screen__content">
				<form class="login" method="POST">
					<div class="login__field">
						<i class="login__icon fa fa-user"></i>
						<input type="text" class="login__input"  name="Username" placeholder="Потребител">
					</div>
					<div class="login__field">
						<i class="login__icon fa fa-lock"></i>
						<input type="password" name="Password" class="login__input" placeholder="Парола">
					</div>
					<button type="submit" class="button login__submit">
						<span class="button__text">Вход</span>
						<i class="button__icon fa fa-chevron-right"></i>
					</button>				
				</form>
				<div class="social-login">
					<h3>VSMS</h3>
			<h4>RS Solutions</h4>
				</div>
			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>		
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"><img src = "~/img/Virtus/Logo.jpg"/></span>
			</div>		
		</div>
	</div>
	@{
        if (TempData["msg"] != null)
        {
            <script type="text/javascript">
                toastr.error("@TempData["msg"]");
                window.location = '#2249506';
            </script>
        }
	}